<div class="row"><!-- --------------------row-------------------- -->
</div><!-- --------------------------row------------------------- -->



<div class="row"><!-- --------------------row-------------------- -->
<% unless admin_signed_in? %>
	<div style="text-align: center">
		<%= link_to new_admin_session_path do %>
			<div class="btn-lg btn-primary">
				ログイン
			</div>
		<% end %>
    </div>

<% else %>

	<div style="text-align: center">
		<%= link_to destroy_admin_session_path, method: :delete do %>
			<div class="btn-lg btn-primary">
				ログアウト
			</div>
		<% end %>
    </div>
<% end %>
</div><!-- --------------------------row------------------------- -->



<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_menus_path do %>
			<div class="btn-lg btn-primary">
				MENU
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_news_index_path do %>
			<div class="btn-lg btn-primary">
				NEWS
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_contacts_path do %>
			<div class="btn-lg btn-primary">
				CONTACTS
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->


<%= %>