<!DOCTYPE html>
<html>
  <head>
    <title>WcbCafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="description" content="ブレンドコーヒーとヘルシーなオーガニックフードを提供するカフェ"> <!-- 説明文 -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- viewport -->
    <link rel="icon" type="image/png" href="/assets/favicon.png"> <!-- favicon -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css"> <!-- ress.css -->
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet"> <!-- Google Fonts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
